DB_HOST=localhost
DB_PORT=3306
DB_NAME=project_management_db
DB_USER=root
DB_PASSWORD=
JWT_SECRET_KEY=change_this_secret_key
JWT_EXPIRES_IN=24h
FLASK_ENV=development
FRONTEND_URLS=http://localhost:5175,http://127.0.0.1:5175,http://192.168.77.165:5175,http://localhost:8081,http://127.0.0.1:8081,http://192.168.77.165:8081


